# Dependencies
node_modules/

# Environment
.env
.venv/

# IDE / Editor
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Model files
model/*
!model/.gitkeep
