# Dependencies
node_modules/

# Environment
.env
.venv/

# IDE / Editor
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Model files
# Large ONNX model and metadata files
*.onnx
*.onnx.data
*_htp_metadata.json
!model/.gitkeep
